.hero{
    background-image:linear-gradient($lightRed,$veryLightRed);
    border-radius: 0px 0px 0px 10rem ;
   // background-image: url(../images/bg-pattern-intro.svg);
    // background-position: center;
    height: 90vh;
    padding-bottom: 10vh;

}