/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 3.0625rem;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.5rem;
}

.container-padding-hor {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container-padding-ver {
  padding-top: 4rem;
  padding-right: 4rem;
}

.container-padding-all {
  padding: 4rem 4rem;
}

.center {
  margin: 0 auto;
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 63.9375em) {
  .grid-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-col-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-x {
  overflow-x: hidden;
}

.navbar {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile_menu > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2.5px 1px;
          transform-origin: 2.5px 1px;
}

.navbar__mobile_menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.navbar__mobile_menu > span:hover {
  cursor: pointer;
}

.navbar__mobile__desktop_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero_wrapper {
  background-image: url(../images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ff7a85), to(#ff525d));
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff7a85, #ff525d);
  background-position: center;
  border-radius: 0px 0px 0px 10rem;
  height: 90vh;
  padding-bottom: 10vh;
}

.hero__text-heading {
  color: white;
  font-size: 3.0625rem;
  font-family: "Overpass", sans-serif;
  padding-top: 9.1875rem;
  font-weight: 700;
}

.hero__text-subheading {
  padding-top: 2.625rem;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.hero__bg-image {
  z-index: -2;
}

.hero__cta {
  font-family: "Overpass", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.5rem;
}

.hero__cta button {
  border-radius: 1.4rem;
  border-width: 1px;
  outline: none;
  border-color: white;
}

.hero__cta button:nth-child(2) {
  color: white;
  background-color: transparent;
}

.section1 {
  height: 100vh;
}

.section1__text-heading {
  color: #4b5862;
  font: "Overpass", sans-serif;
  font-weight: 400;
  padding-top: 10.25rem;
  padding-bottom: 6rem;
}

@media (max-width: 63.9375em) {
  .section1__text-heading {
    padding-bottom: 4rem;
  }
}

@media (max-width: 63.9375em) {
  .section1__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 63.9375em) {
  .section1__left {
    width: 100%;
    text-align: center;
  }
}

.section1__left h2 {
  font-size: 2.0625rem;
  font-weight: 600;
  color: #25252d;
  padding-bottom: 1.5rem;
}

.section1__left p {
  color: #4b5862;
}

.section1__left:_item {
  margin-bottom: 2.625rem;
}

.section1__right {
  position: relative;
}

.section1__right img {
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  top: -140px;
  left: 10%;
}

@media (max-width: 63.9375em) {
  .section1__right img {
    -o-object-fit: cover;
       object-fit: cover;
    top: 0px;
    left: 0px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 3.125rem;
    width: 100%;
  }
}

.section2 {
  position: relative;
  height: 25rem;
  margin-top: 2rem;
  background-color: #25252d;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -200px -400px;
  margin-top: 10rem;
  border-radius: 0px 7rem 0px 7rem;
}

@media (max-width: 63.9375em) {
  .section2 {
    height: auto;
    margin-top: 25rem;
    padding-top: 2rem;
  }
}

.section2__grid_left img {
  position: absolute;
  left: 5rem;
  top: -6rem;
}

@media (max-width: 63.9375em) {
  .section2__grid_left img {
    position: relative;
  }
}

.section2__grid_right {
  margin-top: 5.125rem;
  margin-right: 10.875rem;
  margin-left: 2rem;
}

@media (max-width: 63.9375em) {
  .section2__grid_right {
    text-align: center;
    margin: 0 auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

.section2__grid_right h2 {
  color: white;
  padding-bottom: 2.625rem;
}

.section2__grid_right p {
  color: #c8c8cb;
}
/*# sourceMappingURL=style.css.map */